
.footerbase{
      margin-right: 100px;
    margin-left: 70px;
    background-color: $dark_blue;
    height: 70px;
    display: flex;
    justify-content: flex-start;

}


.common2{
	width:250px;
	text-align: left;


}
.inputedit
 {
    border: 0.1px solid lightgrey;
    height: 27px;
    border-radius: 4px;
    width: 542px;
    color:lightgray; 

 }

.footparent{
    height: 400px;
    display: flex;
    margin-left: 81px;
    margin-right: 0px;
    justify-content: center;
}

.footlistcommon
{
font-family:$font;
padding: 5px 0 0 0px;
list-style-type:none;
color:$light_gray;
}


.footlistheading
{
padding: 8px 0 8px 0;
color:$dark_blue;
font-size:110%;
}


.elementscommon
{
	padding: 6px 0 6px 0;
	font-size: 80%;
}

 

 .copyright
 {
   
    padding-left: 174px;
    width: 310px;
    font-family:$font;
    font-size: 14px;
    padding-top: 26px;
    color: white;

}

.sociallogo
{
    padding-top: 8px;
       padding-left: 101px;
    width: 359px;

}
.logoss
{
   
    width: 50px;
    height: 50px;

}

.partners
{

   width: 431px;
    font-family:$font;
    font-size:14px;
    padding-top:26px;
    color: white;
    display:flex;
    justify-content: space-between;
}
